body{
	margin: 0;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 30px;

}

header{
	background-color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
header h1{
	color: black;
	font-size: 50px;

}
header img{
	border-radius: 300px;
	width: 300px;
	border: 15px solid black;
}



main{
	max-width: 800px;
	margin: 0 auto;
	padding:20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: black;
	margin: 40px 0 10px;
}
a{
	color: red;
}
a:hover{
	color:white;
	background-color: red;
}

footer{
	color: white;
	text-align: center;
	background-color: black;
	padding: 10px;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
	background-color: red;
}


footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}